<div class="flex flex-col w-full h-full min-h-screen bg-teal-100">
  <header class="navbar bg-base-100">
    <div class="flex-1">
      <a routerLink="/" class="text-xl normal-case btn btn-ghost">Univesp - Buscador de polos</a>
    </div>
    <div class="flex-none">
      <a routerLink="/cadastro" class="text-xl normal-case btn btn-ghost">Cadastro</a>
      <button class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          class="inline-block w-5 h-5 stroke-current">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg>
      </button>
    </div>
  </header>

  <main class="p-5">
    <router-outlet></router-outlet>
  </main>
</div>
