<div class="overflow-x-auto">
  <app-finder></app-finder>
  <table class="table w-full mt-5">
    <!-- head -->
    <thead>
      <tr>
        <th></th>
        <th *ngIf="showDistance()">Distância</th>
        <th>Polo</th>
        <th>Endereço</th>
        <th>Cidade</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let polo of polos" class="hover">
        <th>{{polo.id}}</th>
        <td *ngIf="showDistance()">{{polo.distance}}</td>
        <td>{{polo.name}}</td>
        <td>{{ polo.address}}</td>
        <td>{{polo.city}}</td>
        <td>{{polo.state}}</td>
      </tr>
    </tbody>
  </table>
</div>
